{% extends "base.html" %}

{% block title %}{{ title }} | ЛР7 Облік ПММ{% endblock %}

{% block content %}
<section class="form-wrapper">
    <div class="panel">
        <h1>{{ title }}</h1>
        <form class="stack-form" method="post">
            {{ form.hidden_tag() }}
            <label>{{ form.fuel_item_id.label.text }} {{ form.fuel_item_id() }}</label>
            <label>{{ form.user_id.label.text }} {{ form.user_id() }}</label>
            <label>{{ form.amount_liters.label.text }} {{ form.amount_liters(min=1) }}</label>
            <label>{{ form.destination.label.text }} {{ form.destination() }}</label>
            {{ form.submit(class="primary-btn") }}
        </form>
    </div>
</section>
{% endblock %}
